<div class="jumbotron text-center">
  <h1>About Jungle</h1>
  <p>Our mission is to ultrices in iaculis nunc sed augue lacus viverra. Fames ac turpis egestas sed tempus urna et pharetra pharetra.</p>
</div>

<div class="container">
    <p class="text-justify">
    Turpis massa sed elementum tempus. Id aliquet risus feugiat in ante metus. Placerat orci nulla pellentesque dignissim enim sit amet. Dui faucibus in ornare quam viverra orci sagittis eu volutpat. Consequat ac felis donec et odio pellentesque diam volutpat commodo. Nisl condimentum id venenatis a condimentum vitae sapien pellentesque habitant. Morbi tristique senectus et netus et malesuada fames. Ultrices dui sapien eget mi proin sed libero enim sed. Lorem donec massa sapien faucibus et. Volutpat odio facilisis mauris sit.
    </p>
    <p class="text-justify">
    Convallis a cras semper auctor neque vitae tempus quam. Viverra suspendisse potenti nullam ac tortor vitae. Tellus in hac habitasse platea dictumst vestibulum rhoncus est. In nibh mauris cursus mattis molestie a iaculis at erat. Accumsan in nisl nisi scelerisque eu ultrices vitae auctor. Tortor vitae purus faucibus ornare suspendisse sed nisi lacus. Curabitur gravida arcu ac tortor dignissim convallis aenean et tortor. Et ultrices neque ornare aenean euismod elementum nisi. Netus et malesuada fames ac turpis egestas sed tempus urna. Praesent tristique magna sit amet.
    </p>

    <p class="text-justify">
    Ultrices sagittis orci a scelerisque purus semper. Consequat ac felis donec et odio pellentesque diam volutpat commodo. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros in. Quam vulputate dignissim suspendisse in est ante in nibh. Aliquet nec ullamcorper sit amet risus nullam. Cras tincidunt lobortis feugiat vivamus. Mus mauris vitae ultricies leo integer malesuada nunc. Interdum velit euismod in pellentesque massa placerat duis ultricies lacus. Duis ut diam quam nulla porttitor massa id. Porttitor massa id neque aliquam vestibulum morbi blandit. Velit laoreet id donec ultrices tincidunt arcu non. Eu lobortis elementum nibh tellus molestie. Proin fermentum leo vel orci porta non. Vivamus arcu felis bibendum ut tristique et. Mattis aliquam faucibus purus in massa. Orci eu lobortis elementum nibh tellus molestie nunc. Integer quis auctor elit sed vulputate mi sit. Tellus in hac habitasse platea dictumst vestibulum rhoncus est. Vel turpis nunc eget lorem dolor. Quis viverra nibh cras pulvinar mattis nunc.
    </p>

</div>

